
    
    <div class="site-wrap" id="home-section" style="margin-top: 50px;">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" style="margin-top: 50px;" role="banner">

        <div class="container mb-3">
          <div class="d-flex align-items-center">
         
          </div>
        </div>


        <div class="container">
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
              <div class="top-social ml-auto">
                <a href="#"><span class="icon-facebook text-teal"></span></a>
                <a href="#"><span class="icon-twitter text-success"></span></a>
                <a href="#"><span class="icon-linkedin text-yellow"></span></a>
              </div>
          </div>
        </div>

       

      </header>

    <div class="ftco-blocks-cover-1">
       
      <div class="site-section-cover overlay">
        <div class="container">
          <div class="row align-items-center ">
            <div class="col-md-5 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Bienvenue sur notre plateforme</span>
              <h1 class="mb-3 font-weight-bold text-teal">Dystalk</h1>
              <p> dédiée aux enfants dyslexiques</p>
              <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">plus de details</a></p>
            </div>
            <div class="col-md-6 ml-auto align-self-end">
              <img src="../../../../assets/images/j.png" alt="Image" class="img-fluid">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-home"></span>
              </span>
              <h2>Adaptation Personnalisée</h2>
              <p>Chaque enfant est unique, c'est pourquoi notre plateforme offre des Les parents et les enseignants peuvent  outils personnalisés et des ressources éducatives adaptées à leurs besoins spécifiques.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 yellow">
              <span class="wrap-icon">
                <span class="icon-person"></span>
              </span>
              <h2>Jeux Éducatifs Engageants </h2>
              <p>L'apprentissage devrait être amusant ! Nous proposons une variété de jeux éducatifs stimulants qui renforcent les compétences en lecture, en écriture et en orthographe de manière ludique..</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 teal">
              <span class="wrap-icon">
                <span class="icon-cog"></span>
              </span>
              <h2>Suivi des Progrès </h2>
              <p>Les parents et les enseignants peuvent suivre les progrès de l'enfant grâce à des outils de suivi détaillés. Cela permet une collaboration étroite entre la maison et l'école pour un soutien continu.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <img src="../../../../assets/images/img_1.jpg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-5 ml-auto pl-md-5">
            <span class="text-cursive h5 text-red">A propos nous</span>
            <h3 class="text-black">notre application</h3>
            <p><span>Rejoignez-nous dans cette aventure éducative où chaque enfant, quel que soit son chemin unique, peut s'épanouir et réussir. Ensemble, nous construisons un monde où tous les enfants peuvent embrasser leur potentiel avec confiance.</span><span>Magnam id atque dicta deleniti, ipsam ipsum distinctio. Facilis praesentium voluptatem accusamus, earum veritatis, laudantium.</span></p>

            <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">Plus deatils</a></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="site-section bg-info">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <span class="text-cursive h5 text-red d-block">Les paquets que vous aimez</span>
            <h2 class="text-white">Nos Activités</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="../../../../assets/images/flaticon/svg/001-jigsaw.svg" alt="Image" class="img-fluid"></span>
              <h3 class="text-teal">Jeux éducatifs</h3>
              <p></p>
              <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">En savoir plus</a></p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="../../../../assets/images/flaticon/svg/002-target.svg" alt="Image" class="img-fluid"></span>
              <h3 class="text-success">Jeux et événements</h3>
              <p></p>
              <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">En savoir plus</a></p>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="package text-center bg-white">
              <span class="img-wrap"><img src="../../../../assets/images/flaticon/svg/003-mission.svg" alt="Image" class="img-fluid"></span>
              <h3 class="text-danger">Camping pour enfants</h3>
              <p></p>
              <p><a href="#" class="btn btn-success btn-custom-1 mt-4">En savoir plus</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
 
    </div>



   

