<div class="content-wrapper">
  <div class="col-12 grid-margin stretch-card">
      <div class="card">
      <div class="card-body">
          <h4 class="card-title">Ajouter Bibliotheque </h4>

          <form class="forms-sample"  #addBiblio="ngForm">
            <div class="form-group">
              <label for="nomB">Nom</label>
              <input type="text" class="form-control" id="nomB" rows="4" placeholder="nomB" name="nomB"  required [(ngModel)]="biblio.nomB" #nomB="ngModel" >
              <div *ngIf="nomB.invalid && nomB.touched" class="invalid">
                  <span *ngIf="nomB.errors?.['required']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner votre email </p> 
                  </span>
                  <span *ngIf="nomB.errors?.['pattern']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Votre email n'est pas valide </p></span>
              </div>
          </div>

              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" rows="4" placeholder="Email" name="email"  required [(ngModel)]="biblio.email" #email="ngModel" >
                  <div *ngIf="email.invalid && email.touched" class="invalid">
                      <span *ngIf="email.errors?.['required']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner votre email </p> 
                      </span>
                      <span *ngIf="email.errors?.['pattern']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Votre email n'est pas valide </p></span>
                  </div>
              </div>


               <div class="form-group">
                  <label for="numTel">numTel</label>
                  <input type="text" class="form-control" id="numTel" rows="4" placeholder="numTel" name="numTel"  required [(ngModel)]="biblio.numTel" #numTel="ngModel" >
                  <div *ngIf="numTel.invalid && numTel.touched" class="invalid">
                      <span *ngIf="numTel.errors?.['required']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner votre email </p> 
                      </span>
                  </div>
              </div>
              
            <div class="form-group">
              <label for="horaire">horaire</label>
              <input type="text" class="form-control" id="horaire" rows="4" placeholder="horaire" name="horaire"  required [(ngModel)]="biblio.horaire" #horaire="ngModel" >
              <div *ngIf="horaire.invalid && nomB.touched" class="invalid">
                  <span *ngIf="horaire.errors?.['required']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner votre email </p> 
                  </span>
              </div>
          </div>
          
            <div class="form-group">
              <label for="description">description</label>
              <input type="text" class="form-control" id="description" rows="4" placeholder="description" name="description"  required [(ngModel)]="biblio.description" #description="ngModel" >
              <div *ngIf="description.invalid && description.touched" class="invalid">
                  <span *ngIf="nomB.errors?.['required']"> <p> <i class="mdi mdi-alert-circle-outline"></i> Veuillez renseigner votre email </p> 
                  </span>
              </div>
          </div>

          <div class="form-group">
            <label for="imageB">Image</label>
            <div class="input-group col-xs-12">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="img[]" (change)="onFileChanged($event)">
                  <label class="custom-file-label" for="customFile">{{ selectedFile ? selectedFile.name : 'Choisir une image' }}</label>
                </div>
            </div>
        </div>

             
               
                  <button type="submit" class="btn btn-primary mr-2" [disabled]="addBiblio.invalid"  (click)="AjouterBiblio()" >Ajouter</button>

          </form>
      </div>
      </div>
  </div>
</div>    